<h2>プロフィール編集</h2>
<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <label for="inputImage">ProfileImage</label>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  <%= f.submit "変更を保存" %>
<% end %>
<div class="form-group">
  <%= link_to "トップページ", root_path, class: 'btn btn-info btn block mb-4' %>
  <%= link_to "アカウント削除", registration_path(@user), data: {confirm: "本当に削除しますか？"}, method: :delete, class: 'btn btn-danger btn block mb-4' %>
</div>