<main>
  <h2>投稿されたタグ一覧</h2>
  <% @tag_list.each do |list| %>
  <span>
    <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
    <%= "(#{list.posts.count})" %>
  </span>
  <% end %>
  <br>
  <!--タグによって絞り込んだ投稿一覧-->
  <%= "-" %>
  <strong><%= "#{@tag.tag_name}" %></strong>
  <%= "- のタグがついた投稿一覧" %>
  <hr>
  <% @posts.each do |post| %>
  <%= link_to post.title, post %>
  <% end %>
  <hr>
  <div style="padding-bottom: 10px;">
    <%= link_to '投稿一覧に戻る', posts_path %>
  </div>
</main>